<div id="coc">

    <h2>Code of Conduct</h2>

    <h3>Purpose</h3>

    <p>Prague Python Pizza is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion or lack thereof.</p>

    <p>We do not tolerate harassment of conference participants in any form.</p>

    <p>Sexual language and imagery is not appropriate for any conference venue, including talks.</p>

    <p>We expect all community participants to abide by this Code of Conduct in all community venues—online and in-person—as well as in all one-on-one communications pertaining to community business.</p>

    <p>Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.</p>

    <h3>Expected Behavior</h3>

    <ul id="acceptable">
        <li>Participate in an authentic and active way. In doing so, you contribute to the health and longevity of this community.</li>
        <li>Exercise consideration and respect in your speech and actions.</li>
        <li>Attempt collaboration before conflict</li>
        <li>Use inclusive language</li>
        <li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
        <li>Be mindful of your surroundings and of your fellow participants.</li>
        <li>Alert community leaders if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</li>
    </ul>

    <h3>Unacceptable Behavior</h3>

    <p>Unacceptable behaviors include, but is not limited to:</p>

    <ul id="unacceptable">
        <li>Abusive, discriminatory, derogatory or demeaning speech or actions</li>
        <li>Sexual images in public spaces</li>
        <li>Harassing, intimidation, stalking, or following</li>
        <li>Sustained disruption of talks or other events</li>
        <li>Inappropriate physical contact</li>
        <li>Invasion of personal space</li>
        <li>Unwelcome sexual attention</li>
        <li>Advocating for, or encouraging, any of the above behaviour</li>
    </ul>

    <h3>Consequences of Unacceptable Behavior</h3>

    <p>Unacceptable behavior from any community member, including sponsors and those with decision-making authority, will not be tolerated.</p>

    <p>Anyone asked to stop unacceptable behavior is expected to comply immediately. If a community member engages in unacceptable behavior, the community organizers may take any action they deem appropriate, up to and including a temporary ban or permanent expulsion from the community without warning (and without refund in the case of a paid event).</p>
</div>
