<div class="footer">
  <div class="wave_footer">
      <svg
        x="0px"
        y="0px"
        viewBox="0 0 4320 160"
      >
        <path d="M0,160V0c576,0,864,156,1440,156S2304,0,2880,0s864,156,1440,156c1,0,0,4,0,4H0z" />
      </svg>
  </div>
  <div class="social-footer">
    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/98334563/">
      <img src="images/socials/linkedin.png" alt="linkedin"/>
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://fosstodon.org/@pythonpizza/">
      <img src="images/socials/mastodon.png" alt="mastodon">
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/pythonpizzaconf/">
      <img src="images/socials/twitter.png" alt="twitter">
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pythonpizza/">
      <img src="images/socials/facebook.png" alt="facebook">
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/python.pizza/">
      <img src="images/socials/instagram.png" alt="instagram">
    </a>
  </div>
</div>
