<h2>Schedule</h2>

{% for entry in pizza.schedule %}
{% if entry.css_class in ["opening", "coffee_break", "pizza_break"] %}
<div class="entry-container {{ entry.css_class }}">
  <div class="entry-break">
    <h2 class="entry-title">{{ entry.name }}</h2>
    <span class="entry-time">{{ entry.time }}</span>
  </div>
</div>
{% else %}
<div class="entry-container {{ entry.css_class }}">
    <div class="entry">
        {% if entry.speaker_photo %}
        <div class="entry-photo {% if loop.index % 2 == 0 %}picture_left{% endif %}">
            <img src="./images/speakers/{{ entry.speaker_photo }}">
        </div>
        {% endif %}
        <h2 class="entry-title">{{ entry.name }}</h2>
        <a class="entry-speaker" href="">
            {% if entry.speaker_name %}{{ entry.speaker_name }}{% endif %}
        </a>
      <span class="entry-time {% if loop.index % 2 == 0 %}time_right{% endif %}">{{ entry.time }}</span>
    </div>
</div>
{% endif %}
{% endfor %}
